<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>潘多拉</title>
</head>
<body>
	<h1>魔镜</h1>

	<h3 th:text="'登录用户：' + ${name}"></h3>
	
	<a href="/logout">注销</a>
	<br />
</body>
</html>