<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>千家</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<meta name="keywords" content="Ribbon Login Form Responsive Templates, Iphone Compatible Templates, Smartphone Compatible Templates, Ipad Compatible Templates, Flat Responsive Templates"/>
	<link rel='stylesheet' th:href="@{/css/loginpage.css}"  type='text/css' charset="UTF-8"/>
	<!--webfonts-->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'/>
	<!--/webfonts-->
</head>
<body>
<!--start-main-->
<h1>魔<span>镜</span></h1>
<div class="login-box">
	<form>
		<input type="text" class="text" value="请输入用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" />
		<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"/>
	</form>
	<div class="remember">
		<a href="#"><p>下次自动登录</p></a>
		<h4>忘记密码?<a href="#">点击.</a></h4>
	</div>
	<div class="clear"> </div>
	<div class="btn">
		<input type="submit" value="登录" />
		<a th:href="signUp">注册</a>
	</div>
	<div class="clear"> </div>
</div>
<!--//End-login-form-->

<!--start-copyright-->
<div class="copy-right">
	<p>联系我们   <a href="http://www.baidu.com/" target="_blank">千家</a>
	</p>
</div>
<!--//end-copyright-->
</body>
</html>